// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/sstephenson/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require jquery_ujs
//= require underscore-min
//= require gmaps/google
//= require_tree .


$(document).ready(function (){


function initialize() {

	var myLatlng = new google.maps.LatLng(-13.163047, -72.544566);

	var mapOptions = {
	  zoom: 16,
	  scrollwheel: false,   
	  center: new google.maps.LatLng(-13.163081, -72.545200)
	}

	var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  var image = "<%= asset_path 'peru-icon.png'%>"

  // *****  Single Marker code  ***** 
 //  var marker = new google.maps.Marker({
	//   position: myLatlng,
	//   map: map,
	//   title: 'Machu Picchu'
 //  });

 //  var contentString = '<h2>Machu Picchu</h2>' +
 //   '<p>This is the coolest place on earth, you guys.</p>'
	// ;

 //  var infowindow = new google.maps.InfoWindow({
 //   content: contentString
 //  });

 //  google.maps.event.addListener(marker, 'click', function() {
 //    infowindow.open(map,marker);
 //  });

   // *****  Multiple Marker Code  ***** 
   //Create an array of sites
	var sites = [
	  ['Machu Picchu', -13.163047, -72.544566, 4],
	  ['Temple of the 3 Windows', -13.163726, -72.544881, 5],
	  ['House of the Guardian to the Funerary Rock', -13.165398, -72.544624, 3],
	  ['Sacred Rock', -13.161846, -72.546104, 2],
	  ['Intihuatana', -13.163439, -72.546732, 1]
	];
	
	//Loop over all sites and display marker images
    var marker, i;

    for (i = 0; i < sites.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(sites[i][1], sites[i][2]),
        map: map,
        animation: google.maps.Animation.DROP,
        icon: image
      });
  }


 } // end of initialize function

google.maps.event.addDomListener(window, 'load', initialize);


});
